<a href="https://colab.research.google.com/github/AngelBn25/actividades-universitarias/blob/main/numpy%20y%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

lista=[]
lista = np.random.randint(1, 101, size=10).tolist()
print(lista)
random_numbers_series = pd.Series(lista)
random_numbers_series.name = 'numeros aletorias'
random_numbers_series.index.name = 'idx'
print("\n--- Pandas Series with Names ---")
print(random_numbers_series)
print(random_numbers_series.index)
squared_lista = (np.array(lista)**2).tolist()
print(f"Lista al cuadrado: {squared_lista}")

[7, 63, 17, 47, 8, 1, 59, 88, 42, 92]

--- Pandas Series with Names ---
idx
0     7
1    63
2    17
3    47
4     8
5     1
6    59
7    88
8    42
9    92
Name: numeros aletorias, dtype: int64
RangeIndex(start=0, stop=10, step=1, name='idx')
Lista al cuadrado: [49, 3969, 289, 2209, 64, 1, 3481, 7744, 1764, 8464]